.container {
    background-color: #353640; /*cor do background*/
}

.header {
    height: 150px;
    background-color: #1A987D;
}

.font {

    font-family: 'Roboto';
}

.fontNav {

    font-family: 'Roboto';
    font-size: 35px;
    color: #353640;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.fontNav:hover, .fontNav:focus {
    color: #f0f0f0;
}

.logo {
    width: 260px;
    height: 137px;
    padding-left: 55px; /*#1A987D #72FFDB #50F3B1 #4ACA9D */
}

.search {
    padding-right: 300px;
}

.alta {
    background-color: #72FFDB;
    padding: 0px; /*#1A987D #72FFDB #50F3B1 #4ACA9D */
}
