.backgroundPage {
    background-color: #353640; /*cor do background*/
}

.header {
    height: 150px;
    background-color: #1A987D;

}

.font {
    font-family: 'Roboto';/
}

.fontNav {
    font-family: 'Roboto';
    font-size: 35px;
    color: #353640;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.fontNav:hover, .fontNav:focus {
    color: #f0f0f0;
}

.espacamento {
    margin-left: 85px;
}

.logo {
    width: 260px;
    height: 137px;
     /*#1A987D #72FFDB #50F3B1 #4ACA9D */
}

.search {
    padding-right: 300px;
}

.botao{
    height: 50px;
    color: white;
    background-color: #353640;
    border-color: #50f3b1;
    border-radius: 10px;
    padding: 10px;
    font-family: Roboto;
    font-size: 16px;

}

.botao:hover {
    color: #ffffff;
    background-color: #1A987D;
    border-color: #50f3b1;
    border-radius: 10px;
}

.placeHolderObras{
    padding: 200px 0px 0px 0px;
    height: 400px;
}

.separacao{
    color: white;
}

.separacaoBlack{
    margin-left: 15px;
    color: #353640;
}

.titulo{
    color: white;
    padding: 200px 0px 0px 30px;
    font-family: 'Roboto';
    font-size: 40px;
}

.text{
    color: white;
    font-family: 'Roboto';
    text-align: justify;
}

.filtro{
    padding-top: 200px;
    padding-left: 50px;
    color: #46BF95;
}

.alta {
    width: 320px;
    background-color: #46BF95;
    margin-top: 200px ; /*#1A987D #72FFDB #50F3B1 #4ACA9D */
    padding-right: 100px;
    float: right;
}

.alta ul {
    list-style: none;
    padding-left: 0px;
}

.alta img {
    width: 255px;
    height: 300px;
    padding-left: 20px ;
    float: none;
}

.alta h3 {
    text-align: center;
}

.altaFont {
    font-family: 'Roboto';
    font-size: 22px;
    color: #353640;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.altaFont:hover, .fontNav:focus {
    color: #000000;
}

.botaoNav{
    height: 50px;
    color: white;
    background-color: #353640;
    border-color: #353640;
    border-radius: 10px;
    padding: 10px;
    font-family: Roboto;
    font-size: 16px;

}

.botaoNav:hover {
    color: #ffffff;
    background-color: #353640;
    border-color: #353640;
    border-radius: 10px;
}

div.box {
    width: 250px;
    display: inline-block;
}

.alinhando {

    margin-left: 100px
}

body {
    margin: 0;
    padding-top: 200px;
    background-color: #353640;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #353640;
    background-color: #1A987D;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.gradient-custom {
    background: #1A987D;
    background: #1A987D;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    font-family: 'Roboto';
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    font-family: 'Roboto';
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.card {

    margin-left: 10px;
    margin-right: 10px
}

